<div class="container">
  <div class="row">
    <!-- <div class="col col-md-4"> -->
      <div class="col col-md-4">
        <h3>Filter Healthy Foods:</h3>
          <select (change)="onChange($event.target.value)" class="filter form-control">
            <option value="all">Show All Meals</option>
            <option value="healthy">Healthy (< 301 cal)</option>
            <option value="notHealthy">Unhealthy (> 300 cal)</option>
          </select>
      </div>
      <div class="col col-md-8">
        <h3>Filter by Meal Time:</h3>
          <select (change)="onChange($event.target.value)" class="filter form-control">
            <option value="all">Show All Meals</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Snack">Snack</option>
            <option value="Drink">Drink</option>
          </select>
      </div>
      <div class="meal-list">
        <meal-display *ngFor="#currentMeal of mealList | healthy: filterHealthyMeals | time: filterMealTimes"
          (click)="mealClicked(currentMeal)"
          [class.selected]="currentMeal === selectedMeal"
          [meal]="currentMeal">
        </meal-display>
      </div>
      <new-meal (onAddNewMeal)="createMeal($event)"></new-meal>


    <div class="col col-md-4">
      <show-meal-details *ngIf="selectedMeal" [meal]="selectedMeal">
      </show-meal-details>

      <edit-meal-details *ngIf="selectedMeal" [meal]="selectedMeal"></edit-meal-details>
      </div>
      <!-- </div> -->
    </div>
  </div>
